### AIDI 1002 Assignment 3
### Author: Ahmad Sayeb - 200534271

In [275]:
# -----------------Warnings------------------
#removing cuda warnings for gpu
import warnings
warnings.filterwarnings('ignore')
# ---------------- Libraries-----------------
import pandas as pd
import numpy as np
# ---------------- Sklearn libraries---------
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
# ---------------- Keras---------------------
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping
# ----------------Tensor-flow support--------
import tensorflow_addons as tfa

In [353]:
def load_csv(path: str) -> 'dataframe':
    '''
    Loads csv file into dataframe
    path: path to the file
    '''
    df = pd.read_csv(path)
    return df


def num_col_nan(df: 'dataframe'):
    '''
    replaces nan value in numerical columns with mode
    df: dataframe
    '''
    
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    col_num = df.select_dtypes(include=numerics)
    
    for col in col_num:
        df[col].replace([np.nan], df[col].mode()[0], inplace=True)

        
def cat_col_nan(df: 'dataframe'):
    '''
    replace nan value in categorical column with None string
    df: dataframe
    '''
    
    categorical = ['object']
    cat_columns = df.select_dtypes(include=categorical)
    
    for col in cat_columns:
        df[col].replace([np.nan], 'None', inplace=True)


def encoder(df: 'dataframe') -> 'dataframe':
    '''
    label encoding categorical data that are indep variable
    and one hot encode target variables
    df: dataframe
    '''
    label = LabelEncoder()
    hot = OneHotEncoder()
    categorical = ['object']
    cat_col = df.select_dtypes(include=categorical)
    target = cat_col[['Var_1']]
    cat_col.drop(columns=['Var_1'], inplace=True)
    for col in cat_col:
        df[col] = label.fit_transform(df[col])
    
    target = pd.get_dummies(target)
    df.drop(columns=['Var_1'], inplace=True)
    return pd.concat([df, target], axis=1)


def replacing_classes(row: 'object'):
    if row != 'Cat_4' and row != 'Cat_6':
        return 'Other'
    else:
        return row

def drop_cols(cols: list, df: 'dataframe'):
    '''
    drops specified columns
    col: list of columns
    df: dataframe
    '''
    print(f'dropping {cols}...')
    df.drop(columns=cols, inplace=True)
    
    
def pre_processing(df: 'dataframe'):
    '''
    performs nan value replacement and encoding categorical values
    '''
    try:
        print('dropping columns...')
        drop_cols(['ID', 'Segmentation'], df)
        print('replacing numerical nans with mode...')
        num_col_nan(df)
        print('replacing categorical nans with None string...')
        cat_col_nan(df)
        print('changing anything otehr than cat_6 and cat_4 to other...')
        df['Var_1'] = df['Var_1'].apply(replacing_classes)
        print('label encoding categorical data...')
        df = encoder(df)
        print('\033[1m' + 'SUCCESSFULLY PERFORMED PREPROCESSING' + '\033[0m')    
        return df
    
    except Exception as e:
        print('error occurred in pre-processing')
        print(e)
        return False

    
def train_validation_split(val_size: float, df: 'dataframe'):
    '''
    splits dataframe into train and validation and SHUFFLES
    test_size: size of the validation
    df: dataframe
    '''
    # Shuffle is set to true
    # Stratify is set to true
    df_dep = df[['Var_1_Cat_4','Var_1_Cat_6', 'Var_1_Other']]
    df_indep = df.drop(columns=['Var_1_Cat_4','Var_1_Cat_6', 'Var_1_Other'])
    X_train, X_valid, y_train, y_valid = train_test_split(
                                                        df_indep,
                                                        df_dep,
                                                        test_size=val_size, 
                                                        shuffle=True,
                                                        stratify=df_dep[['Var_1_Cat_4', 'Var_1_Cat_6', 'Var_1_Other']]
                                                        )
    
    return X_train, X_valid, y_train, y_valid


def min_max_scaler(df: 'dataframe'):
    '''
    normalize numerical data
    df: dataframe
    '''
    scaler = MinMaxScaler()
    col_num = ['Age', 'Work_Experience', 'Family_Size']
    df[col_num] = scaler.fit_transform(df[col_num])

    
def build_neural_network():
    '''
    this function creates the deep neural network
    input_size: size of the input array
    '''
    model = Sequential()
    model.add(Dense(512, input_shape=(8,)))
    model.add(Dense(256, activation='relu'))
    model.add(Dense(128, activation='relu'))
    model.add(Dense(64, activation='relu'))
    model.add(Dense(16, activation='relu'))
    model.add(Dense(8, activation='relu'))
    model.add(Dense(3, activation='softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=[tfa.metrics.F1Score(average='micro', num_classes=3),'accuracy'])
    print(model.summary())
    return model


def fit_model(X_train: 'dataframe',
              y_train: 'dataframe',
              X_val: 'dataframe', 
              y_val: 'dataframe'):
    '''
    This trains the model
    X_trian: training data
    '''
    X_train_array = X_train.values
    y_train_array = y_train.values
    X_val_array = X_val.values
    y_val_array = y_val.values
    callbacks = EarlyStopping(monitor='val_loss', mode='min', patience=50)
    history = model.fit(X_train_array,
                        y_train_array,
                        epochs=100,
                        batch_size=32,
                        verbose=1,
                        validation_data=(X_val_array, y_val_array),
                       callbacks=[callbacks])
    return model

In [354]:
df = load_csv('archive/train.csv')
df = pre_processing(df)
X_train, X_valid, y_train, y_valid = train_validation_split(0.10, df)
min_max_scaler(X_train)
min_max_scaler(X_valid)

dropping columns...
dropping ['ID', 'Segmentation']...
replacing numerical nans with mode...
replacing categorical nans with None string...
changing anything otehr than cat_6 and cat_4 to other...
label encoding categorical data...
SUCCESSFULLY PERFORMED PREPROCESSING

In [355]:
model = build_neural_network()
model = fit_model(X_train, y_train, X_valid, y_valid)

Model: "sequential_51"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_289 (Dense)           (None, 512)               4608

 dense_290 (Dense)           (None, 256)               131328

 dense_291 (Dense)           (None, 128)               32896

 dense_292 (Dense)           (None, 64)                8256

 dense_293 (Dense)           (None, 16)                1040

 dense_294 (Dense)           (None, 8)                 136

 dense_295 (Dense)           (None, 3)                 27

=================================================================
Total params: 178,291
Trainable params: 178,291
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/100
227/227 [==============================] - 1s 2ms/step - loss: 0.8618 - f1_score: 0.6470 - accuracy: 0.6470 - val_loss: 0.8445 - val_f1_score: 0.6493 - val_accuracy: 0.6493
Epoch 2/100
227/227 [==============================] - 0s 2ms/step - loss: 0.8444 - f1_score: 0.6494 - accuracy: 0.6494 - val_loss: 0.8370 - val_f1_score: 0.6518 - val_accuracy: 0.6518
Epoch 3/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8360 - f1_score: 0.6551 - accuracy: 0.6551 - val_loss: 0.8323 - val_f1_score: 0.6530 - val_accuracy: 0.6530
Epoch 4/100
227/227 [==============================] - 0s 2ms/step - loss: 0.8310 - f1_score: 0.6569 - accuracy: 0.6569 - val_loss: 0.8450 - val_f1_score: 0.6530 - val_accuracy: 0.6530
Epoch 5/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8287 - f1_score: 0.6551 - accuracy: 0.6551 - val_loss: 0.8317 - val_f1_score: 0.6530 - val_accuracy: 0.6530
Epoch 6/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8267 - f1_score: 0.6564 - accuracy: 0.6564 - val_loss: 0.8315 - val_f1_score: 0.6580 - val_accuracy: 0.6580
Epoch 7/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8238 - f1_score: 0.6580 - accuracy: 0.6580 - val_loss: 0.8375 - val_f1_score: 0.6518 - val_accuracy: 0.6518
Epoch 8/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8231 - f1_score: 0.6575 - accuracy: 0.6575 - val_loss: 0.8391 - val_f1_score: 0.6592 - val_accuracy: 0.6592
Epoch 9/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8225 - f1_score: 0.6573 - accuracy: 0.6573 - val_loss: 0.8362 - val_f1_score: 0.6493 - val_accuracy: 0.6493
Epoch 10/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8202 - f1_score: 0.6597 - accuracy: 0.6597 - val_loss: 0.8426 - val_f1_score: 0.6468 - val_accuracy: 0.6468
Epoch 11/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8214 - f1_score: 0.6597 - accuracy: 0.6597 - val_loss: 0.8254 - val_f1_score: 0.6555 - val_accuracy: 0.6555
Epoch 12/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8176 - f1_score: 0.6573 - accuracy: 0.6573 - val_loss: 0.8376 - val_f1_score: 0.6568 - val_accuracy: 0.6568
Epoch 13/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8196 - f1_score: 0.6594 - accuracy: 0.6594 - val_loss: 0.8290 - val_f1_score: 0.6605 - val_accuracy: 0.6605
Epoch 14/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8179 - f1_score: 0.6576 - accuracy: 0.6576 - val_loss: 0.8310 - val_f1_score: 0.6568 - val_accuracy: 0.6568
Epoch 15/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8156 - f1_score: 0.6590 - accuracy: 0.6590 - val_loss: 0.8320 - val_f1_score: 0.6555 - val_accuracy: 0.6555
Epoch 16/100
227/227 [==============================] - 0s 2ms/step - loss: 0.8142 - f1_score: 0.6637 - accuracy: 0.6637 - val_loss: 0.8267 - val_f1_score: 0.6580 - val_accuracy: 0.6580
Epoch 17/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8130 - f1_score: 0.6593 - accuracy: 0.6593 - val_loss: 0.8271 - val_f1_score: 0.6568 - val_accuracy: 0.6568
Epoch 18/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8137 - f1_score: 0.6601 - accuracy: 0.6601 - val_loss: 0.8275 - val_f1_score: 0.6543 - val_accuracy: 0.6543
Epoch 19/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8120 - f1_score: 0.6598 - accuracy: 0.6598 - val_loss: 0.8233 - val_f1_score: 0.6580 - val_accuracy: 0.6580
Epoch 20/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8102 - f1_score: 0.6600 - accuracy: 0.6600 - val_loss: 0.8270 - val_f1_score: 0.6617 - val_accuracy: 0.6617
Epoch 21/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8098 - f1_score: 0.6609 - accuracy: 0.6609 - val_loss: 0.8376 - val_f1_score: 0.6518 - val_accuracy: 0.6518
Epoch 22/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8086 - f1_score: 0.6626 - accuracy: 0.6626 - val_loss: 0.8253 - val_f1_score: 0.6617 - val_accuracy: 0.6617
Epoch 23/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8075 - f1_score: 0.6640 - accuracy: 0.6640 - val_loss: 0.8232 - val_f1_score: 0.6568 - val_accuracy: 0.6568
Epoch 24/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8055 - f1_score: 0.6635 - accuracy: 0.6635 - val_loss: 0.8298 - val_f1_score: 0.6654 - val_accuracy: 0.6654
Epoch 25/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8070 - f1_score: 0.6601 - accuracy: 0.6601 - val_loss: 0.8323 - val_f1_score: 0.6629 - val_accuracy: 0.6629
Epoch 26/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8045 - f1_score: 0.6635 - accuracy: 0.6635 - val_loss: 0.8236 - val_f1_score: 0.6568 - val_accuracy: 0.6568
Epoch 27/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8024 - f1_score: 0.6648 - accuracy: 0.6648 - val_loss: 0.8352 - val_f1_score: 0.6518 - val_accuracy: 0.6518
Epoch 28/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8014 - f1_score: 0.6641 - accuracy: 0.6641 - val_loss: 0.8415 - val_f1_score: 0.6592 - val_accuracy: 0.6592
Epoch 29/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8008 - f1_score: 0.6666 - accuracy: 0.6666 - val_loss: 0.8250 - val_f1_score: 0.6555 - val_accuracy: 0.6555
Epoch 30/100
227/227 [==============================] - 0s 1ms/step - loss: 0.8010 - f1_score: 0.6653 - accuracy: 0.6653 - val_loss: 0.8323 - val_f1_score: 0.6605 - val_accuracy: 0.6605
Epoch 31/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7974 - f1_score: 0.6670 - accuracy: 0.6670 - val_loss: 0.8300 - val_f1_score: 0.6580 - val_accuracy: 0.6580
Epoch 32/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7951 - f1_score: 0.6684 - accuracy: 0.6684 - val_loss: 0.8306 - val_f1_score: 0.6617 - val_accuracy: 0.6617
Epoch 33/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7935 - f1_score: 0.6660 - accuracy: 0.6660 - val_loss: 0.8401 - val_f1_score: 0.6506 - val_accuracy: 0.6506
Epoch 34/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7917 - f1_score: 0.6689 - accuracy: 0.6689 - val_loss: 0.8353 - val_f1_score: 0.6617 - val_accuracy: 0.6617
Epoch 35/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7900 - f1_score: 0.6695 - accuracy: 0.6695 - val_loss: 0.8326 - val_f1_score: 0.6592 - val_accuracy: 0.6592
Epoch 36/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7902 - f1_score: 0.6675 - accuracy: 0.6675 - val_loss: 0.8293 - val_f1_score: 0.6691 - val_accuracy: 0.6691
Epoch 37/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7880 - f1_score: 0.6699 - accuracy: 0.6699 - val_loss: 0.8387 - val_f1_score: 0.6580 - val_accuracy: 0.6580
Epoch 38/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7890 - f1_score: 0.6696 - accuracy: 0.6696 - val_loss: 0.8336 - val_f1_score: 0.6555 - val_accuracy: 0.6555
Epoch 39/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7850 - f1_score: 0.6684 - accuracy: 0.6684 - val_loss: 0.8324 - val_f1_score: 0.6605 - val_accuracy: 0.6605
Epoch 40/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7820 - f1_score: 0.6703 - accuracy: 0.6703 - val_loss: 0.8350 - val_f1_score: 0.6704 - val_accuracy: 0.6704
Epoch 41/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7816 - f1_score: 0.6686 - accuracy: 0.6686 - val_loss: 0.8408 - val_f1_score: 0.6580 - val_accuracy: 0.6580
Epoch 42/100
227/227 [==============================] - 0s 2ms/step - loss: 0.7799 - f1_score: 0.6725 - accuracy: 0.6725 - val_loss: 0.8397 - val_f1_score: 0.6543 - val_accuracy: 0.6543
Epoch 43/100
227/227 [==============================] - 0s 2ms/step - loss: 0.7738 - f1_score: 0.6739 - accuracy: 0.6739 - val_loss: 0.8548 - val_f1_score: 0.6406 - val_accuracy: 0.6406
Epoch 44/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7767 - f1_score: 0.6755 - accuracy: 0.6755 - val_loss: 0.8547 - val_f1_score: 0.6456 - val_accuracy: 0.6456
Epoch 45/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7684 - f1_score: 0.6787 - accuracy: 0.6787 - val_loss: 0.8578 - val_f1_score: 0.6419 - val_accuracy: 0.6419
Epoch 46/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7698 - f1_score: 0.6770 - accuracy: 0.6770 - val_loss: 0.8547 - val_f1_score: 0.6592 - val_accuracy: 0.6592
Epoch 47/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7658 - f1_score: 0.6746 - accuracy: 0.6746 - val_loss: 0.8578 - val_f1_score: 0.6406 - val_accuracy: 0.6406
Epoch 48/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7676 - f1_score: 0.6747 - accuracy: 0.6747 - val_loss: 0.8701 - val_f1_score: 0.6456 - val_accuracy: 0.6456
Epoch 49/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7639 - f1_score: 0.6787 - accuracy: 0.6787 - val_loss: 0.8468 - val_f1_score: 0.6506 - val_accuracy: 0.6506
Epoch 50/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7583 - f1_score: 0.6832 - accuracy: 0.6832 - val_loss: 0.8557 - val_f1_score: 0.6468 - val_accuracy: 0.6468
Epoch 51/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7586 - f1_score: 0.6824 - accuracy: 0.6824 - val_loss: 0.8695 - val_f1_score: 0.6419 - val_accuracy: 0.6419
Epoch 52/100
227/227 [==============================] - 0s 2ms/step - loss: 0.7551 - f1_score: 0.6823 - accuracy: 0.6823 - val_loss: 0.8722 - val_f1_score: 0.6456 - val_accuracy: 0.6456
Epoch 53/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7497 - f1_score: 0.6832 - accuracy: 0.6832 - val_loss: 0.8971 - val_f1_score: 0.6307 - val_accuracy: 0.6307
Epoch 54/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7531 - f1_score: 0.6849 - accuracy: 0.6849 - val_loss: 0.8714 - val_f1_score: 0.6605 - val_accuracy: 0.6605
Epoch 55/100
227/227 [==============================] - 0s 2ms/step - loss: 0.7489 - f1_score: 0.6850 - accuracy: 0.6850 - val_loss: 0.8714 - val_f1_score: 0.6431 - val_accuracy: 0.6431
Epoch 56/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7445 - f1_score: 0.6860 - accuracy: 0.6860 - val_loss: 0.8829 - val_f1_score: 0.6419 - val_accuracy: 0.6419
Epoch 57/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7423 - f1_score: 0.6885 - accuracy: 0.6885 - val_loss: 0.8702 - val_f1_score: 0.6506 - val_accuracy: 0.6506
Epoch 58/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7425 - f1_score: 0.6879 - accuracy: 0.6879 - val_loss: 0.8762 - val_f1_score: 0.6444 - val_accuracy: 0.6444
Epoch 59/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7380 - f1_score: 0.6897 - accuracy: 0.6897 - val_loss: 0.8874 - val_f1_score: 0.6357 - val_accuracy: 0.6357
Epoch 60/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7372 - f1_score: 0.6911 - accuracy: 0.6911 - val_loss: 0.8818 - val_f1_score: 0.6406 - val_accuracy: 0.6406
Epoch 61/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7355 - f1_score: 0.6921 - accuracy: 0.6921 - val_loss: 0.8981 - val_f1_score: 0.6481 - val_accuracy: 0.6481
Epoch 62/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7324 - f1_score: 0.6892 - accuracy: 0.6892 - val_loss: 0.9085 - val_f1_score: 0.6394 - val_accuracy: 0.6394
Epoch 63/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7286 - f1_score: 0.6969 - accuracy: 0.6969 - val_loss: 0.9274 - val_f1_score: 0.6283 - val_accuracy: 0.6283
Epoch 64/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7343 - f1_score: 0.6930 - accuracy: 0.6930 - val_loss: 0.8945 - val_f1_score: 0.6332 - val_accuracy: 0.6332
Epoch 65/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7229 - f1_score: 0.6944 - accuracy: 0.6944 - val_loss: 0.9364 - val_f1_score: 0.6295 - val_accuracy: 0.6295
Epoch 66/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7183 - f1_score: 0.6954 - accuracy: 0.6954 - val_loss: 0.9058 - val_f1_score: 0.6233 - val_accuracy: 0.6233
Epoch 67/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7146 - f1_score: 0.6985 - accuracy: 0.6985 - val_loss: 0.9362 - val_f1_score: 0.6320 - val_accuracy: 0.6320
Epoch 68/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7151 - f1_score: 0.6989 - accuracy: 0.6989 - val_loss: 0.9300 - val_f1_score: 0.6431 - val_accuracy: 0.6431
Epoch 69/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7143 - f1_score: 0.6966 - accuracy: 0.6966 - val_loss: 0.9374 - val_f1_score: 0.6456 - val_accuracy: 0.6456
Epoch 70/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7132 - f1_score: 0.6969 - accuracy: 0.6969 - val_loss: 0.9194 - val_f1_score: 0.6431 - val_accuracy: 0.6431
Epoch 71/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7175 - f1_score: 0.6973 - accuracy: 0.6973 - val_loss: 0.9491 - val_f1_score: 0.6307 - val_accuracy: 0.6307
Epoch 72/100
227/227 [==============================] - 0s 1ms/step - loss: 0.7080 - f1_score: 0.7021 - accuracy: 0.7021 - val_loss: 0.9412 - val_f1_score: 0.6369 - val_accuracy: 0.6369
Epoch 73/100
227/227 [==============================] - 0s 1ms/step - loss: 0.6985 - f1_score: 0.7057 - accuracy: 0.7057 - val_loss: 0.9567 - val_f1_score: 0.6419 - val_accuracy: 0.6419

In [141]:
y_pred = model.predict(X_valid)

84/84 [==============================] - 0s 655us/step

In [153]:
y_pred[4]

array([0.0000000e+00, 9.8661275e-09, 9.9999994e-01], dtype=float32)

In [160]:
y_train

      Var_1_Cat_4  Var_1_Cat_6  Var_1_Other
539             0            0            1
1459            0            1            0
6693            0            1            0
4999            1            0            0
5409            0            1            0
...           ...          ...          ...
5724            0            1            0
7471            1            0            0
1771            0            1            0
3897            0            1            0
3460            1            0            0

[5405 rows x 3 columns]

In [255]:
y_valid

      Var_1_Cat_4  Var_1_Cat_6  Var_1_Other
1261            0            0            1
243             0            1            0
7163            0            0            1
1880            1            0            0
2222            1            0            0
...           ...          ...          ...
1179            0            1            0
484             0            0            1
2521            0            0            1
7179            0            0            1
7949            0            1            0

[2663 rows x 3 columns]

In [257]:
X_train

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size
2726,0,0,0.056338,0,5,0.428571,2,0.250
4718,1,2,0.521127,2,0,0.142857,2,0.125
59,1,2,0.760563,2,7,0.071429,2,0.125
5483,1,2,0.521127,2,0,0.071429,0,0.500
6111,1,0,0.183099,2,5,0.000000,2,0.125
...,...,...,...,...,...,...,...,...
1438,1,2,0.436620,0,0,0.000000,2,0.125
7846,0,0,0.140845,2,0,0.214286,2,0.375
7593,1,2,0.197183,2,5,0.428571,2,0.125
506,1,2,0.549296,2,4,0.071429,1,0.250
1135,1,2,0.535211,2,0,0.071429,0,0.125

In [261]:
X_valid

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size
3398,1,2,0.760563,2,3,0.071429,0,0.125
1738,1,2,0.563380,2,7,0.000000,1,0.125
4807,0,2,0.478873,0,9,0.500000,0,0.750
5135,0,2,0.352113,2,5,0.642857,2,0.125
2964,0,0,0.070423,0,5,0.642857,2,0.375
...,...,...,...,...,...,...,...,...
1304,1,2,0.577465,2,0,0.071429,0,0.125
7650,0,2,0.098592,0,6,0.571429,0,0.125
1010,1,2,0.478873,2,3,0.071429,0,0.375
3808,0,0,0.112676,2,2,0.000000,2,0.625
741,0,2,0.239437,0,2,0.142857,0,0.625

In [167]:
pred = list()
for i in range(len(y_pred)):
    pred.append(np.argmax(y_pred[i]))
valid = list()
y_valid_arr = y_valid.values
for i in range(len(y_valid_arr)):
     valid.append(np.argmax(y_valid_arr[i]))

In [174]:
from sklearn.metrics import accuracy_score
a = accuracy_score(pred,valid)
print('Accuracy is:', a*100)

Accuracy is: 62.29815996995869